<div>
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <h2 translate="myOrder.title"></h2>
    always show the current order, or show a message, no current order.<br/>


    <accordion close-others="oneAtATime">
        <accordion-group heading="Order with id: {{order.orderId}} and restaurantId{{order.restaurantId}}" ng-repeat="order in allOrders">
            Order status: {{order.orderStatus}}<br/>
            Order totalPrice: {{order.totalPrice}}<br/>
            User Id: {{order.userId}}<br/>
            <table class="table table-condensed table-striped table-bordered table-responsive">
                <thead>
                <tr>
                    <th>{{'myOrder.table.header.name' | translate}}</th>
                    <th >{{'myOrder.table.header.price' | translate}}</th>
                    <th>{{'myOrder.table.header.quantity' | translate}}</th>
                    <th>{{'myOrder.table.header.comments' | translate}}</th>
                </tr>
                </thead>
                <tr data-ng-repeat="item in order.itemsOrdered">
                    <td><span>{{item.name}}</span></td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.comments}}</td>
                </tr>
            </table>
        </accordion-group>
        </accordion>

    <button type="submit" class="btn btn-primary" translate="myOrder.button.view" data-ng-click="viewOrder();">View Order</button>
</div>