<div>
    <h2 translate="restaurants.title">Restaurants</h2>

    <div class="row">
        <div class="col-md-5">
            <h4 translate="restaurants.filter.name">Filter the restaurants</h4>
            <p class="input-group">
                <input type="text" class="input-sm form-control" ng-model="filterName.name" placeholder="{{'restaurants.filter.byName' | translate}}">
                <br/>
                {{'restaurants.filter.area' | translate}}:
                <select ui-select2 ng-model="filterName.area" data-placeholder="{{'restaurants.table.header.area' | translate}}">
                    <option value=""> </option>
                    <option value="">{{'restaurants.filter.noFilter' | translate}}</option>
                    <option ng-repeat="area in areas" value="{{area}}">{{area}}</option>
                </select>
                <br/>
                {{'restaurants.filter.type' | translate}}:
                <select ui-select2 ng-model="filterName.type" data-placeholder="{{'restaurants.table.header.type' | translate}}">
                    <option value=""> </option>
                    <option value="">{{'restaurants.filter.noFilter' | translate}}</option>
                    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                </select>
            </p>
        </div>
    </div>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'name'; reverse=!reverse">{{'restaurants.table.header.name' | translate}}</th>
            <th ng-click="predicate = 'area'; reverse=!reverse">{{'restaurants.table.header.area' | translate}}</th>
            <th ng-click="predicate = 'type'; reverse=!reverse">{{'restaurants.table.header.type' | translate}}</th>
            <th ng-click="predicate = 'popularity'; reverse=!reverse">{{'restaurants.table.header.popularity' | translate}}</th>
            <th>{{'restaurants.table.header.shortDesc' | translate}}</th>
            <th>{{'restaurants.table.header.comments' | translate}}</th>
        </tr>
        </thead>

        <tr ng-repeat="restaurant in restourants| filter:filterName | orderBy:predicate:reverse" ng-click="setRestaurant();">
            <td><span>{{restaurant.name}}</span></td>
            <td><small>{{restaurant.area}}</small></td>
            <td>{{restaurant.type}}</td>
            <td>{{restaurant.id}}</td>
            <td>{{restaurant.shortDesc}}</td>
            <td>{{restaurant.comments}}</td>
        </tr>
    </table>
</div>